<header class="app-header navbar">
  
    <a class="navbar-brand" href="#" >
      <img class="navbar-brand-full" src="/assets/image/school-header-logo.svg" height="55px">
     </a>
 
   
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
          <img class="img-avatar" src="/assets/image/blog/c1.jpg" alt="admin@bootstrapmaster.com">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header text-center">
            <strong>Account</strong>
          </div>
          <a *ngIf="!isAuth"class="dropdown-item" [routerLink]="['/login']">
            <i class="fa fa-sign-in"></i> Login</a>          
          <a *ngIf="isAuth" class="dropdown-item" href="#">
            <i class="fa fa-user"></i> Profile</a>
          <a *ngIf="isAuth" class="dropdown-item" href="#">
            <i class="fa fa-wrench"></i> Settings</a> 
          <a *ngIf="isAuth" class="dropdown-item" (click)= "signOut()">
            <i class="fa fa-sign-out"></i> Logout</a>
             
        </div>
      </li>
    </ul>

  </header>
<!--================Header Area =================-->



